<% if @items.empty? %>
  <p class="lead">
    Your collection appears to be empty.
  </p>
  <%= link_to 'Add your first item', new_item_path,
    class: 'btn btn-primary btn-lg form-control my-5' %>
<% else %>
  <h1>Your Item Collection</h1>
  <div class="list-group">
    <% @items.each do |item| %>
      <%= link_to item_path(item),
        class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1 h5"><%= item.title %></h2>
          <smalll class="text-muted">1 day ago</smalll>
        </div>
        <small class="text-muted"><%= item.isbn %></small>
        <p class="mb-1"><%= number_to_currency(item.value) %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
