<div class="card mb-3">
  <div class="card-body">
    <div class="small text-muted text-right"><%= time_ago_in_words(@item.created_at) %></div>
    <div class="d-flex w-100 justify-content-between">
      <h1 class="card-title mb-1 h4"><%= @item.title %></h1>
      <div><%= render 'authors', authors: @item.authors %></div>
    </div>
    <div class="small text-muted mb-4"><%= @item.isbn %></div>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-2">
          <% @item.categories.each do |category| %>
            <%= link_to category, "#{items_path}?category=#{url_encode category}", class: "badge badge-secondary" %>
          <% end %>
        </div>
        <div class="mb-2"><%= number_to_currency(@item.value) %></div>
      </div>
      <p class="col-md-8"><%= @item.description %></p>
    </div>
  </div>
  <div class="btn-group card-footer-btn-group" role="group" aria-label="Action buttons">
    <%= link_to t('.edit'), edit_item_path(@item), class: 'btn btn-sm btn-secondary w-75' %>
    <%= link_to t('.delete'), item_path(@item),
      method: :delete, data: { confirm: t('.are_you_sure') },
      class: 'btn btn-sm btn-danger w-25' %>
  </div>
</div>
